{% load activity_tags %}
{% load socialaccount %}

<div class="aggregation media">
    <div class="pull-left">
    	{% with activity.activities.0.actor as actor %}
    		{% get_social_accounts actor as accounts %}
        	<img src="{{ accounts.github.0.extra_data.avatar_url }}" width="55px">
    	{% endwith %}
    </div>
    <div class="media-body">
        <div class="media-heading">
            <div class="aggregation-header">
                <div class="aggregation-time pull-right">
                    <i class="glyphicon glyphicon-time"></i> {{ activity.updated_at|timesince }} ago
                </div>
                <div class="aggregation-title">
                    <span>{{ activity.activities|length }} pin{{ activity.activities|length|pluralize }} </span>
                    {# DEBUG <span class="text-muted">{{ activity }} Group: {{ activity.group }}</span> #}
                </div>
            </div>
        </div>
        {% for activity in activity.activities|slice:":5" %}
            {% with activity.object as pin %}
                <article class="pin">
                    <figure>
                        <div class="pin-image-holder">
                            <img class="pin-image" src="{{ MEDIA_URL }}{{ pin.item.image }}">
                        </div>
                        {% if pin.message %}
                            <figcaption class="pin-caption">
                                {{ pin.message }}
                            </figcaption>
                        {% endif %}
                    </figure>
                    <form class="pin-bottom" method="POST" action="{% url 'pin' %}">
                        {% csrf_token %}
                        <div class="media">
                            <div class="pull-left">                                    
                                <input class="btn btn-primary btn-sm" type="submit" value="Pin">
                            </div>
                            <div class="media-body">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon text-muted">in</span>
                                    <input class="form-control" name="board_name" placeholder="Board name" type="text" value="My favourite things">
                                </div>
                            </div>
                        </div>
                        <input name="influencer" type="hidden" value="{{ pin.user_id }}">
                        <input name="item" type="hidden" value="{{ pin.item_id }}">
                        <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    </form>
                    <footer class="pin-attribution">                            
                        pinned <b>{{ pin.created_at|timesince }}</b> ago{# {{ activity.time|timesince }} #}
                    </footer>
                </article>
            {% endwith %}
        {% endfor %}
    </div>
</div>