{% load activity_tags %}
{% load socialaccount %}

<article class="pin">
    <figure>
        <div class="pin-image-holder">
            {% with activity.object.target as target %}
            	{% get_social_accounts target as accounts %}
            	<img class="pin-image" src="{{ accounts.github.0.extra_data.avatar_url }}">
            
            <figcaption class="follow-caption">
                {{ activity.actor.first_name }} followed {{ target.username }}
            </figcaption>
            {% endwith %}
        </div>
    </figure>
    <footer class="pin-attribution">
    	by <a href="{% url 'profile' activity.actor.username %}">{{ activity.actor }}</a>
        {{ activity.time|timesince }} ago
    </footer>
</article>